@model Artikel
<div class="form-control">
    @Html.LabelFor(a => a.Artikelnaam)
    @Html.DisplayFor(a => a.Artikelnaam)
</div>
<div class="form-control">
    @Html.LabelFor(a => a.Artikelnummer)
    @Html.DisplayFor(a => a.Artikelnummer)
</div>
<div class="form-control">
    @Html.LabelFor(a => a.Aantal)
    @Html.DisplayFor(a => a.Aantal)
</div>
