<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAN.BackOffice</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    @model FactuurViewModel
    @{
        Layout = null;
    }

    @{ Artikel FirstArtikel = Model.Bestelling.Artikelen.FirstOrDefault(); }
    <img src="~/images/FactuurLogo.png" class="factuurimage col-xs-offset-1 col-xs-4">
    <br />
    <br />
    <br />
    <br />
    <section id="klantgegevens" class="col-xs-offset-1">
        <h2 class="">Klantgegevens</h2>
        <dl class="dl-horizontal col-xs-4">
            <dt>Naam<dt>
            <dd>@Html.DisplayFor(model => model.Bestelling.VolledigeNaam)</dd>
            <dt>@Html.DisplayNameFor(model => model.Bestelling.Adres)</dt>
            <dd>@Html.DisplayFor(model => model.Bestelling.Adres) @Html.DisplayFor(model => model.Bestelling.Huisnummer)</dd>
            <dt>@Html.DisplayNameFor(model => model.Bestelling.Postcode)</dt>
            <dd>@Html.DisplayFor(model => model.Bestelling.Postcode) @Html.DisplayFor(model => model.Bestelling.Woonplaats)</dd>
            <dt>@Html.DisplayNameFor(model => model.Bestelling.Land)</dt>
            <dd>@Html.DisplayFor(model => model.Bestelling.Land)</dd>
        </dl>
        
    </section>
    <section id="bestellinggegevens" class="col-xs-offset-1 col-xs-11">
        <h2>Artikelen</h2>
        <table class="table-bordered col-xs-10">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => FirstArtikel.Artikelnummer)</th>
                    <th>@Html.DisplayNameFor(model => FirstArtikel.Artikelnaam)</th>
                    <th>@Html.DisplayNameFor(model => FirstArtikel.Aantal)</th>
                    <th>@Html.DisplayNameFor(model => FirstArtikel.Prijs)</th>
                    <th>Totaalprijs</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var artikel in Model.Bestelling.Artikelen)
                {
                    var Totaalprijs = artikel.Aantal * artikel.Prijs;
                    <tr>
                        <td>@Html.DisplayFor(model => artikel.Artikelnummer)</td>
                        <td>@Html.DisplayFor(model => artikel.Artikelnaam)</td>
                        <td>@Html.DisplayFor(model => artikel.Aantal)</td>
                        <td>@Html.DisplayFor(model => artikel.Prijs)</td>
                        <td>@Html.DisplayFor(model => Totaalprijs)</td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    <section id="totaalbedrag" class="col-xs-offset-1 col-xs-11">
        <dl class="dl-horizontal col-xs-2 col-xs-offset-7">
            <dt>Totaalbedrag</dt>
            <dd>&euro;@Model.TotaalPrijsInclusiefBtw</dd>
            <dt>Exclusief BTW</dt>
            <dd>&euro;@Model.TotaalPrijsExclusiefBtw</dd>
        </dl>
    </section>
    <section id="footer" class="col-xs-offset-1 col-xs-11">
        <h2>Contactgegevens</h2>
        <dl class="dl-horizontal">
            <dt>Adres</dt>
            <dd>Kruisboog 42</dd>
            <dt>Plaats</dt>
            <dd>3905 TG Veenendaal</dd>
            <dt>Tel</dt>
            <dd>+31 318 552020</dd>
            <dt>Email</dt>
            <dd>info@kantilever.nl</dd>
            <dt>IBAN</dt>
            <dd>NL44 INGB 00058 54051</dd>
            <dt>K.v.K.</dt>
            <dd>3013 5370</dd>
        </dl>
    </section>
    <a asp-controller="Magazijn" asp-action="VolgendeBestellingOphalen" asp-route-id="@Model.Bestelling.Bestellingsnummer" class="btn btn-default hidden-print">Volgende bestelling</a>

</body>
