@model ArtikelOverzichtModel

<h1>Welkom bij de beste fiets specialist in Nederland!</h1>

@foreach (var artikel in Model.Artikelen)
{
    <div class="form-horizontal">

        <div class="col-md-4 column productbox">
            <div class="producttitle">@Html.DisplayFor(a => artikel.Naam)</div>
            <img src="@artikel.AfbeeldingUrl" class="img-responsive customImg">
            <div class="productprice">
                <div class="productvoorraad">@Html.DisplayFor(a => artikel.Voorraad)</div>
                <div class="cartButton"><button onclick="addArtikelToCart(@artikel.GetJSON())" class="glyphicon glyphicon-shopping-cart btn btn-info" id="@artikel.Artikelnummer"></button></div>
                <div class="pricetext">&euro;@Html.DisplayFor(a => artikel.Prijs)</div>
           </div>
        </div>

    </div>
}

<ul class="pagination">
    @for (int i = 1; i <= Model.AantalPaginas; i++)
    {
        <li><a asp-action="Index" asp-route-id="@i">@i</a></li>
    }
</ul>
