@model CAN.Webwinkel.Agents.KlantAgent.Models.Klant
<form asp-controller="Home" asp-action="Index" method="post">
    @Html.LabelFor(a => a.Voornaam)
    @Html.TextBoxFor(a => a.Voornaam)<br />

    @Html.LabelFor(a => a.Tussenvoegsels)
    @Html.TextBoxFor(a => a.Tussenvoegsels)<br />

    @Html.LabelFor(a => a.Achternaam)
    @Html.TextBoxFor(a => a.Achternaam)<br />

    @Html.LabelFor(a => a.Adres)
    @Html.TextBoxFor(a => a.Adres)<br />

    @Html.LabelFor(a => a.Huisnummer)
    @Html.TextBoxFor(a => a.Huisnummer)<br />

    @Html.LabelFor(a => a.Postcode)
    @Html.TextBoxFor(a => a.Postcode)<br />

    @Html.LabelFor(a => a.Email)
    @Html.TextBoxFor(a => a.Email)<br />

    @Html.LabelFor(a => a.Telefoonnummer)
    @Html.TextBoxFor(a => a.Telefoonnummer)<br />
    <button type="submit">Bestel</button>
</form>