@model IEnumerable<SalesIndexViewModel>
@{
    ViewData["Title"] = "Index";
}
<h2>Mijn lijsten</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Klantnaam
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().TotaalPrijs)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VolledigeNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotaalPrijs)
                </td>
                <td>
                    <a class="text-success" asp-action="Goedkeuren" asp-route-id="@item.Bestellingsnummer">Goedkeuren</a> |
                    <a class="text-info" asp-action="Details" asp-route-id="@item.Bestellingsnummer">Details</a> |
                    <a class="text-danger" asp-action="Afkeuren" asp-route-id="@item.Bestellingsnummer">Afkeuren</a>
                </td>
            </tr>
        }
    </tbody>
</table>